@-webkit-keyframes _idGenKeyFrames-0 {
0% { -webkit-transform:translate(307px,0px) ; opacity:0; }
4.3478% { -webkit-transform:translate(269px,0px) ; opacity:0.043; }
8.6957% { -webkit-transform:translate(234px,0px) ; opacity:0.087; }
13.0435% { -webkit-transform:translate(202px,0px) ; opacity:0.13; }
17.3913% { -webkit-transform:translate(173px,0px) ; opacity:0.174; }
21.7391% { -webkit-transform:translate(147px,0px) ; opacity:0.217; }
26.087% { -webkit-transform:translate(124px,0px) ; opacity:0.261; }
30.4348% { -webkit-transform:translate(103px,0px) ; opacity:0.304; }
34.7826% { -webkit-transform:translate(85px,0px) ; opacity:0.348; }
39.1304% { -webkit-transform:translate(69px,0px) ; opacity:0.391; }
43.4783% { -webkit-transform:translate(55px,0px) ; opacity:0.435; }
47.8261% { -webkit-transform:translate(44px,0px) ; opacity:0.478; }
52.1739% { -webkit-transform:translate(34px,0px) ; opacity:0.522; }
56.5217% { -webkit-transform:translate(25px,0px) ; opacity:0.565; }
60.8696% { -webkit-transform:translate(18px,0px) ; opacity:0.609; }
65.2174% { -webkit-transform:translate(13px,0px) ; opacity:0.652; }
69.5652% { -webkit-transform:translate(9px,0px) ; opacity:0.696; }
73.913% { -webkit-transform:translate(5px,0px) ; opacity:0.739; }
78.2609% { -webkit-transform:translate(3px,0px) ; opacity:0.783; }
82.6087% { -webkit-transform:translate(2px,0px) ; opacity:0.826; }
86.9565% { -webkit-transform:translate(1px,0px) ; opacity:0.87; }
91.3043% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-0 {
0% { transform:translate(307px,0px) ; opacity:0; }
4.3478% { transform:translate(269px,0px) ; opacity:0.043; }
8.6957% { transform:translate(234px,0px) ; opacity:0.087; }
13.0435% { transform:translate(202px,0px) ; opacity:0.13; }
17.3913% { transform:translate(173px,0px) ; opacity:0.174; }
21.7391% { transform:translate(147px,0px) ; opacity:0.217; }
26.087% { transform:translate(124px,0px) ; opacity:0.261; }
30.4348% { transform:translate(103px,0px) ; opacity:0.304; }
34.7826% { transform:translate(85px,0px) ; opacity:0.348; }
39.1304% { transform:translate(69px,0px) ; opacity:0.391; }
43.4783% { transform:translate(55px,0px) ; opacity:0.435; }
47.8261% { transform:translate(44px,0px) ; opacity:0.478; }
52.1739% { transform:translate(34px,0px) ; opacity:0.522; }
56.5217% { transform:translate(25px,0px) ; opacity:0.565; }
60.8696% { transform:translate(18px,0px) ; opacity:0.609; }
65.2174% { transform:translate(13px,0px) ; opacity:0.652; }
69.5652% { transform:translate(9px,0px) ; opacity:0.696; }
73.913% { transform:translate(5px,0px) ; opacity:0.739; }
78.2609% { transform:translate(3px,0px) ; opacity:0.783; }
82.6087% { transform:translate(2px,0px) ; opacity:0.826; }
86.9565% { transform:translate(1px,0px) ; opacity:0.87; }
91.3043% { transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { transform:translate(0px,0px) ; opacity:0.957; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-1 {
0% { -webkit-transform:translate(0px,0px) ; opacity:1; }
4.3478% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
8.6957% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
13.0435% { -webkit-transform:translate(1px,0px) ; opacity:0.87; }
17.3913% { -webkit-transform:translate(2px,0px) ; opacity:0.826; }
21.7391% { -webkit-transform:translate(3px,0px) ; opacity:0.783; }
26.087% { -webkit-transform:translate(5px,0px) ; opacity:0.739; }
30.4348% { -webkit-transform:translate(9px,0px) ; opacity:0.696; }
34.7826% { -webkit-transform:translate(13px,0px) ; opacity:0.652; }
39.1304% { -webkit-transform:translate(18px,0px) ; opacity:0.609; }
43.4783% { -webkit-transform:translate(25px,0px) ; opacity:0.565; }
47.8261% { -webkit-transform:translate(34px,0px) ; opacity:0.522; }
52.1739% { -webkit-transform:translate(44px,0px) ; opacity:0.478; }
56.5217% { -webkit-transform:translate(55px,0px) ; opacity:0.435; }
60.8696% { -webkit-transform:translate(69px,0px) ; opacity:0.391; }
65.2174% { -webkit-transform:translate(85px,0px) ; opacity:0.348; }
69.5652% { -webkit-transform:translate(103px,0px) ; opacity:0.304; }
73.913% { -webkit-transform:translate(124px,0px) ; opacity:0.261; }
78.2609% { -webkit-transform:translate(147px,0px) ; opacity:0.217; }
82.6087% { -webkit-transform:translate(173px,0px) ; opacity:0.174; }
86.9565% { -webkit-transform:translate(202px,0px) ; opacity:0.13; }
91.3043% { -webkit-transform:translate(234px,0px) ; opacity:0.087; }
95.6522% { -webkit-transform:translate(269px,0px) ; opacity:0.043; }
100% { -webkit-transform:translate(307px,0px) ; opacity:0; }
} 
@keyframes _idGenKeyFrames-1 {
0% { transform:translate(0px,0px) ; opacity:1; }
4.3478% { transform:translate(0px,0px) ; opacity:0.957; }
8.6957% { transform:translate(0px,0px) ; opacity:0.913; }
13.0435% { transform:translate(1px,0px) ; opacity:0.87; }
17.3913% { transform:translate(2px,0px) ; opacity:0.826; }
21.7391% { transform:translate(3px,0px) ; opacity:0.783; }
26.087% { transform:translate(5px,0px) ; opacity:0.739; }
30.4348% { transform:translate(9px,0px) ; opacity:0.696; }
34.7826% { transform:translate(13px,0px) ; opacity:0.652; }
39.1304% { transform:translate(18px,0px) ; opacity:0.609; }
43.4783% { transform:translate(25px,0px) ; opacity:0.565; }
47.8261% { transform:translate(34px,0px) ; opacity:0.522; }
52.1739% { transform:translate(44px,0px) ; opacity:0.478; }
56.5217% { transform:translate(55px,0px) ; opacity:0.435; }
60.8696% { transform:translate(69px,0px) ; opacity:0.391; }
65.2174% { transform:translate(85px,0px) ; opacity:0.348; }
69.5652% { transform:translate(103px,0px) ; opacity:0.304; }
73.913% { transform:translate(124px,0px) ; opacity:0.261; }
78.2609% { transform:translate(147px,0px) ; opacity:0.217; }
82.6087% { transform:translate(173px,0px) ; opacity:0.174; }
86.9565% { transform:translate(202px,0px) ; opacity:0.13; }
91.3043% { transform:translate(234px,0px) ; opacity:0.087; }
95.6522% { transform:translate(269px,0px) ; opacity:0.043; }
100% { transform:translate(307px,0px) ; opacity:0; }
} 
@-webkit-keyframes _idGenKeyFrames-2 {
0% { -webkit-transform:translate(-1px,-233px) ; opacity:0; }
4.3478% { -webkit-transform:translate(-1px,-204px) ; opacity:0.043; }
8.6957% { -webkit-transform:translate(-1px,-177px) ; opacity:0.087; }
13.0435% { -webkit-transform:translate(-1px,-153px) ; opacity:0.13; }
17.3913% { -webkit-transform:translate(-1px,-131px) ; opacity:0.174; }
21.7391% { -webkit-transform:translate(0px,-112px) ; opacity:0.217; }
26.087% { -webkit-transform:translate(0px,-94px) ; opacity:0.261; }
30.4348% { -webkit-transform:translate(0px,-78px) ; opacity:0.304; }
34.7826% { -webkit-transform:translate(0px,-65px) ; opacity:0.348; }
39.1304% { -webkit-transform:translate(0px,-53px) ; opacity:0.391; }
43.4783% { -webkit-transform:translate(0px,-42px) ; opacity:0.435; }
47.8261% { -webkit-transform:translate(0px,-33px) ; opacity:0.478; }
52.1739% { -webkit-transform:translate(0px,-25px) ; opacity:0.522; }
56.5217% { -webkit-transform:translate(0px,-19px) ; opacity:0.565; }
60.8696% { -webkit-transform:translate(0px,-14px) ; opacity:0.609; }
65.2174% { -webkit-transform:translate(0px,-10px) ; opacity:0.652; }
69.5652% { -webkit-transform:translate(0px,-7px) ; opacity:0.696; }
73.913% { -webkit-transform:translate(0px,-4px) ; opacity:0.739; }
78.2609% { -webkit-transform:translate(0px,-2px) ; opacity:0.783; }
82.6087% { -webkit-transform:translate(0px,-1px) ; opacity:0.826; }
86.9565% { -webkit-transform:translate(0px,-1px) ; opacity:0.87; }
91.3043% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-2 {
0% { transform:translate(-1px,-233px) ; opacity:0; }
4.3478% { transform:translate(-1px,-204px) ; opacity:0.043; }
8.6957% { transform:translate(-1px,-177px) ; opacity:0.087; }
13.0435% { transform:translate(-1px,-153px) ; opacity:0.13; }
17.3913% { transform:translate(-1px,-131px) ; opacity:0.174; }
21.7391% { transform:translate(0px,-112px) ; opacity:0.217; }
26.087% { transform:translate(0px,-94px) ; opacity:0.261; }
30.4348% { transform:translate(0px,-78px) ; opacity:0.304; }
34.7826% { transform:translate(0px,-65px) ; opacity:0.348; }
39.1304% { transform:translate(0px,-53px) ; opacity:0.391; }
43.4783% { transform:translate(0px,-42px) ; opacity:0.435; }
47.8261% { transform:translate(0px,-33px) ; opacity:0.478; }
52.1739% { transform:translate(0px,-25px) ; opacity:0.522; }
56.5217% { transform:translate(0px,-19px) ; opacity:0.565; }
60.8696% { transform:translate(0px,-14px) ; opacity:0.609; }
65.2174% { transform:translate(0px,-10px) ; opacity:0.652; }
69.5652% { transform:translate(0px,-7px) ; opacity:0.696; }
73.913% { transform:translate(0px,-4px) ; opacity:0.739; }
78.2609% { transform:translate(0px,-2px) ; opacity:0.783; }
82.6087% { transform:translate(0px,-1px) ; opacity:0.826; }
86.9565% { transform:translate(0px,-1px) ; opacity:0.87; }
91.3043% { transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { transform:translate(0px,0px) ; opacity:0.957; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-3 {
0% { -webkit-transform:translate(0px,0px) ; opacity:1; }
4.3478% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
8.6957% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
13.0435% { -webkit-transform:translate(0px,-1px) ; opacity:0.87; }
17.3913% { -webkit-transform:translate(0px,-1px) ; opacity:0.826; }
21.7391% { -webkit-transform:translate(0px,-2px) ; opacity:0.783; }
26.087% { -webkit-transform:translate(0px,-4px) ; opacity:0.739; }
30.4348% { -webkit-transform:translate(0px,-7px) ; opacity:0.696; }
34.7826% { -webkit-transform:translate(0px,-10px) ; opacity:0.652; }
39.1304% { -webkit-transform:translate(0px,-14px) ; opacity:0.609; }
43.4783% { -webkit-transform:translate(0px,-19px) ; opacity:0.565; }
47.8261% { -webkit-transform:translate(0px,-25px) ; opacity:0.522; }
52.1739% { -webkit-transform:translate(0px,-33px) ; opacity:0.478; }
56.5217% { -webkit-transform:translate(0px,-42px) ; opacity:0.435; }
60.8696% { -webkit-transform:translate(0px,-53px) ; opacity:0.391; }
65.2174% { -webkit-transform:translate(0px,-65px) ; opacity:0.348; }
69.5652% { -webkit-transform:translate(0px,-78px) ; opacity:0.304; }
73.913% { -webkit-transform:translate(0px,-94px) ; opacity:0.261; }
78.2609% { -webkit-transform:translate(0px,-112px) ; opacity:0.217; }
82.6087% { -webkit-transform:translate(-1px,-131px) ; opacity:0.174; }
86.9565% { -webkit-transform:translate(-1px,-153px) ; opacity:0.13; }
91.3043% { -webkit-transform:translate(-1px,-177px) ; opacity:0.087; }
95.6522% { -webkit-transform:translate(-1px,-204px) ; opacity:0.043; }
100% { -webkit-transform:translate(-1px,-233px) ; opacity:0; }
} 
@keyframes _idGenKeyFrames-3 {
0% { transform:translate(0px,0px) ; opacity:1; }
4.3478% { transform:translate(0px,0px) ; opacity:0.957; }
8.6957% { transform:translate(0px,0px) ; opacity:0.913; }
13.0435% { transform:translate(0px,-1px) ; opacity:0.87; }
17.3913% { transform:translate(0px,-1px) ; opacity:0.826; }
21.7391% { transform:translate(0px,-2px) ; opacity:0.783; }
26.087% { transform:translate(0px,-4px) ; opacity:0.739; }
30.4348% { transform:translate(0px,-7px) ; opacity:0.696; }
34.7826% { transform:translate(0px,-10px) ; opacity:0.652; }
39.1304% { transform:translate(0px,-14px) ; opacity:0.609; }
43.4783% { transform:translate(0px,-19px) ; opacity:0.565; }
47.8261% { transform:translate(0px,-25px) ; opacity:0.522; }
52.1739% { transform:translate(0px,-33px) ; opacity:0.478; }
56.5217% { transform:translate(0px,-42px) ; opacity:0.435; }
60.8696% { transform:translate(0px,-53px) ; opacity:0.391; }
65.2174% { transform:translate(0px,-65px) ; opacity:0.348; }
69.5652% { transform:translate(0px,-78px) ; opacity:0.304; }
73.913% { transform:translate(0px,-94px) ; opacity:0.261; }
78.2609% { transform:translate(0px,-112px) ; opacity:0.217; }
82.6087% { transform:translate(-1px,-131px) ; opacity:0.174; }
86.9565% { transform:translate(-1px,-153px) ; opacity:0.13; }
91.3043% { transform:translate(-1px,-177px) ; opacity:0.087; }
95.6522% { transform:translate(-1px,-204px) ; opacity:0.043; }
100% { transform:translate(-1px,-233px) ; opacity:0; }
} 
@-webkit-keyframes _idGenKeyFrames-4 {
0% { -webkit-transform:translate(307px,0px) ; opacity:0; }
4.3478% { -webkit-transform:translate(269px,0px) ; opacity:0.043; }
8.6957% { -webkit-transform:translate(234px,0px) ; opacity:0.087; }
13.0435% { -webkit-transform:translate(202px,0px) ; opacity:0.13; }
17.3913% { -webkit-transform:translate(173px,0px) ; opacity:0.174; }
21.7391% { -webkit-transform:translate(147px,0px) ; opacity:0.217; }
26.087% { -webkit-transform:translate(124px,0px) ; opacity:0.261; }
30.4348% { -webkit-transform:translate(103px,0px) ; opacity:0.304; }
34.7826% { -webkit-transform:translate(85px,0px) ; opacity:0.348; }
39.1304% { -webkit-transform:translate(69px,0px) ; opacity:0.391; }
43.4783% { -webkit-transform:translate(55px,0px) ; opacity:0.435; }
47.8261% { -webkit-transform:translate(44px,0px) ; opacity:0.478; }
52.1739% { -webkit-transform:translate(34px,0px) ; opacity:0.522; }
56.5217% { -webkit-transform:translate(25px,0px) ; opacity:0.565; }
60.8696% { -webkit-transform:translate(18px,0px) ; opacity:0.609; }
65.2174% { -webkit-transform:translate(13px,0px) ; opacity:0.652; }
69.5652% { -webkit-transform:translate(9px,0px) ; opacity:0.696; }
73.913% { -webkit-transform:translate(5px,0px) ; opacity:0.739; }
78.2609% { -webkit-transform:translate(3px,0px) ; opacity:0.783; }
82.6087% { -webkit-transform:translate(2px,0px) ; opacity:0.826; }
86.9565% { -webkit-transform:translate(1px,0px) ; opacity:0.87; }
91.3043% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-4 {
0% { transform:translate(307px,0px) ; opacity:0; }
4.3478% { transform:translate(269px,0px) ; opacity:0.043; }
8.6957% { transform:translate(234px,0px) ; opacity:0.087; }
13.0435% { transform:translate(202px,0px) ; opacity:0.13; }
17.3913% { transform:translate(173px,0px) ; opacity:0.174; }
21.7391% { transform:translate(147px,0px) ; opacity:0.217; }
26.087% { transform:translate(124px,0px) ; opacity:0.261; }
30.4348% { transform:translate(103px,0px) ; opacity:0.304; }
34.7826% { transform:translate(85px,0px) ; opacity:0.348; }
39.1304% { transform:translate(69px,0px) ; opacity:0.391; }
43.4783% { transform:translate(55px,0px) ; opacity:0.435; }
47.8261% { transform:translate(44px,0px) ; opacity:0.478; }
52.1739% { transform:translate(34px,0px) ; opacity:0.522; }
56.5217% { transform:translate(25px,0px) ; opacity:0.565; }
60.8696% { transform:translate(18px,0px) ; opacity:0.609; }
65.2174% { transform:translate(13px,0px) ; opacity:0.652; }
69.5652% { transform:translate(9px,0px) ; opacity:0.696; }
73.913% { transform:translate(5px,0px) ; opacity:0.739; }
78.2609% { transform:translate(3px,0px) ; opacity:0.783; }
82.6087% { transform:translate(2px,0px) ; opacity:0.826; }
86.9565% { transform:translate(1px,0px) ; opacity:0.87; }
91.3043% { transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { transform:translate(0px,0px) ; opacity:0.957; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-5 {
0% { -webkit-transform:translate(0px,0px) ; opacity:1; }
4.3478% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
8.6957% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
13.0435% { -webkit-transform:translate(1px,0px) ; opacity:0.87; }
17.3913% { -webkit-transform:translate(2px,0px) ; opacity:0.826; }
21.7391% { -webkit-transform:translate(3px,0px) ; opacity:0.783; }
26.087% { -webkit-transform:translate(5px,0px) ; opacity:0.739; }
30.4348% { -webkit-transform:translate(9px,0px) ; opacity:0.696; }
34.7826% { -webkit-transform:translate(13px,0px) ; opacity:0.652; }
39.1304% { -webkit-transform:translate(18px,0px) ; opacity:0.609; }
43.4783% { -webkit-transform:translate(25px,0px) ; opacity:0.565; }
47.8261% { -webkit-transform:translate(34px,0px) ; opacity:0.522; }
52.1739% { -webkit-transform:translate(44px,0px) ; opacity:0.478; }
56.5217% { -webkit-transform:translate(55px,0px) ; opacity:0.435; }
60.8696% { -webkit-transform:translate(69px,0px) ; opacity:0.391; }
65.2174% { -webkit-transform:translate(85px,0px) ; opacity:0.348; }
69.5652% { -webkit-transform:translate(103px,0px) ; opacity:0.304; }
73.913% { -webkit-transform:translate(124px,0px) ; opacity:0.261; }
78.2609% { -webkit-transform:translate(147px,0px) ; opacity:0.217; }
82.6087% { -webkit-transform:translate(173px,0px) ; opacity:0.174; }
86.9565% { -webkit-transform:translate(202px,0px) ; opacity:0.13; }
91.3043% { -webkit-transform:translate(234px,0px) ; opacity:0.087; }
95.6522% { -webkit-transform:translate(269px,0px) ; opacity:0.043; }
100% { -webkit-transform:translate(307px,0px) ; opacity:0; }
} 
@keyframes _idGenKeyFrames-5 {
0% { transform:translate(0px,0px) ; opacity:1; }
4.3478% { transform:translate(0px,0px) ; opacity:0.957; }
8.6957% { transform:translate(0px,0px) ; opacity:0.913; }
13.0435% { transform:translate(1px,0px) ; opacity:0.87; }
17.3913% { transform:translate(2px,0px) ; opacity:0.826; }
21.7391% { transform:translate(3px,0px) ; opacity:0.783; }
26.087% { transform:translate(5px,0px) ; opacity:0.739; }
30.4348% { transform:translate(9px,0px) ; opacity:0.696; }
34.7826% { transform:translate(13px,0px) ; opacity:0.652; }
39.1304% { transform:translate(18px,0px) ; opacity:0.609; }
43.4783% { transform:translate(25px,0px) ; opacity:0.565; }
47.8261% { transform:translate(34px,0px) ; opacity:0.522; }
52.1739% { transform:translate(44px,0px) ; opacity:0.478; }
56.5217% { transform:translate(55px,0px) ; opacity:0.435; }
60.8696% { transform:translate(69px,0px) ; opacity:0.391; }
65.2174% { transform:translate(85px,0px) ; opacity:0.348; }
69.5652% { transform:translate(103px,0px) ; opacity:0.304; }
73.913% { transform:translate(124px,0px) ; opacity:0.261; }
78.2609% { transform:translate(147px,0px) ; opacity:0.217; }
82.6087% { transform:translate(173px,0px) ; opacity:0.174; }
86.9565% { transform:translate(202px,0px) ; opacity:0.13; }
91.3043% { transform:translate(234px,0px) ; opacity:0.087; }
95.6522% { transform:translate(269px,0px) ; opacity:0.043; }
100% { transform:translate(307px,0px) ; opacity:0; }
} 
@-webkit-keyframes _idGenKeyFrames-6 {
0% { -webkit-transform:translate(-307px,0px) ; opacity:0; }
6.25% { -webkit-transform:translate(-253px,0px) ; opacity:0.063; }
12.5% { -webkit-transform:translate(-206px,0px) ; opacity:0.125; }
18.75% { -webkit-transform:translate(-165px,0px) ; opacity:0.188; }
25% { -webkit-transform:translate(-130px,0px) ; opacity:0.25; }
31.25% { -webkit-transform:translate(-100px,0px) ; opacity:0.313; }
37.5% { -webkit-transform:translate(-75px,0px) ; opacity:0.375; }
43.75% { -webkit-transform:translate(-55px,0px) ; opacity:0.438; }
50% { -webkit-transform:translate(-38px,0px) ; opacity:0.5; }
56.25% { -webkit-transform:translate(-26px,0px) ; opacity:0.563; }
62.5% { -webkit-transform:translate(-16px,0px) ; opacity:0.625; }
68.75% { -webkit-transform:translate(-9px,0px) ; opacity:0.688; }
75% { -webkit-transform:translate(-5px,0px) ; opacity:0.75; }
81.25% { -webkit-transform:translate(-2px,0px) ; opacity:0.813; }
87.5% { -webkit-transform:translate(-1px,0px) ; opacity:0.875; }
93.75% { -webkit-transform:translate(0px,0px) ; opacity:0.938; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-6 {
0% { transform:translate(-307px,0px) ; opacity:0; }
6.25% { transform:translate(-253px,0px) ; opacity:0.063; }
12.5% { transform:translate(-206px,0px) ; opacity:0.125; }
18.75% { transform:translate(-165px,0px) ; opacity:0.188; }
25% { transform:translate(-130px,0px) ; opacity:0.25; }
31.25% { transform:translate(-100px,0px) ; opacity:0.313; }
37.5% { transform:translate(-75px,0px) ; opacity:0.375; }
43.75% { transform:translate(-55px,0px) ; opacity:0.438; }
50% { transform:translate(-38px,0px) ; opacity:0.5; }
56.25% { transform:translate(-26px,0px) ; opacity:0.563; }
62.5% { transform:translate(-16px,0px) ; opacity:0.625; }
68.75% { transform:translate(-9px,0px) ; opacity:0.688; }
75% { transform:translate(-5px,0px) ; opacity:0.75; }
81.25% { transform:translate(-2px,0px) ; opacity:0.813; }
87.5% { transform:translate(-1px,0px) ; opacity:0.875; }
93.75% { transform:translate(0px,0px) ; opacity:0.938; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-7 {
0% { -webkit-transform:translate(0px,0px) ; opacity:1; }
6.25% { -webkit-transform:translate(0px,0px) ; opacity:0.938; }
12.5% { -webkit-transform:translate(-1px,0px) ; opacity:0.875; }
18.75% { -webkit-transform:translate(-2px,0px) ; opacity:0.813; }
25% { -webkit-transform:translate(-5px,0px) ; opacity:0.75; }
31.25% { -webkit-transform:translate(-9px,0px) ; opacity:0.688; }
37.5% { -webkit-transform:translate(-16px,0px) ; opacity:0.625; }
43.75% { -webkit-transform:translate(-26px,0px) ; opacity:0.563; }
50% { -webkit-transform:translate(-38px,0px) ; opacity:0.5; }
56.25% { -webkit-transform:translate(-55px,0px) ; opacity:0.438; }
62.5% { -webkit-transform:translate(-75px,0px) ; opacity:0.375; }
68.75% { -webkit-transform:translate(-100px,0px) ; opacity:0.313; }
75% { -webkit-transform:translate(-130px,0px) ; opacity:0.25; }
81.25% { -webkit-transform:translate(-165px,0px) ; opacity:0.188; }
87.5% { -webkit-transform:translate(-206px,0px) ; opacity:0.125; }
93.75% { -webkit-transform:translate(-253px,0px) ; opacity:0.063; }
100% { -webkit-transform:translate(-307px,0px) ; opacity:0; }
} 
@keyframes _idGenKeyFrames-7 {
0% { transform:translate(0px,0px) ; opacity:1; }
6.25% { transform:translate(0px,0px) ; opacity:0.938; }
12.5% { transform:translate(-1px,0px) ; opacity:0.875; }
18.75% { transform:translate(-2px,0px) ; opacity:0.813; }
25% { transform:translate(-5px,0px) ; opacity:0.75; }
31.25% { transform:translate(-9px,0px) ; opacity:0.688; }
37.5% { transform:translate(-16px,0px) ; opacity:0.625; }
43.75% { transform:translate(-26px,0px) ; opacity:0.563; }
50% { transform:translate(-38px,0px) ; opacity:0.5; }
56.25% { transform:translate(-55px,0px) ; opacity:0.438; }
62.5% { transform:translate(-75px,0px) ; opacity:0.375; }
68.75% { transform:translate(-100px,0px) ; opacity:0.313; }
75% { transform:translate(-130px,0px) ; opacity:0.25; }
81.25% { transform:translate(-165px,0px) ; opacity:0.188; }
87.5% { transform:translate(-206px,0px) ; opacity:0.125; }
93.75% { transform:translate(-253px,0px) ; opacity:0.063; }
100% { transform:translate(-307px,0px) ; opacity:0; }
} 
@-webkit-keyframes _idGenKeyFrames-8 {
0% { -webkit-transform:translate(-1px,-233px) ; opacity:0; }
4.3478% { -webkit-transform:translate(-1px,-204px) ; opacity:0.043; }
8.6957% { -webkit-transform:translate(-1px,-177px) ; opacity:0.087; }
13.0435% { -webkit-transform:translate(-1px,-153px) ; opacity:0.13; }
17.3913% { -webkit-transform:translate(-1px,-131px) ; opacity:0.174; }
21.7391% { -webkit-transform:translate(0px,-112px) ; opacity:0.217; }
26.087% { -webkit-transform:translate(0px,-94px) ; opacity:0.261; }
30.4348% { -webkit-transform:translate(0px,-78px) ; opacity:0.304; }
34.7826% { -webkit-transform:translate(0px,-65px) ; opacity:0.348; }
39.1304% { -webkit-transform:translate(0px,-53px) ; opacity:0.391; }
43.4783% { -webkit-transform:translate(0px,-42px) ; opacity:0.435; }
47.8261% { -webkit-transform:translate(0px,-33px) ; opacity:0.478; }
52.1739% { -webkit-transform:translate(0px,-25px) ; opacity:0.522; }
56.5217% { -webkit-transform:translate(0px,-19px) ; opacity:0.565; }
60.8696% { -webkit-transform:translate(0px,-14px) ; opacity:0.609; }
65.2174% { -webkit-transform:translate(0px,-10px) ; opacity:0.652; }
69.5652% { -webkit-transform:translate(0px,-7px) ; opacity:0.696; }
73.913% { -webkit-transform:translate(0px,-4px) ; opacity:0.739; }
78.2609% { -webkit-transform:translate(0px,-2px) ; opacity:0.783; }
82.6087% { -webkit-transform:translate(0px,-1px) ; opacity:0.826; }
86.9565% { -webkit-transform:translate(0px,-1px) ; opacity:0.87; }
91.3043% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-8 {
0% { transform:translate(-1px,-233px) ; opacity:0; }
4.3478% { transform:translate(-1px,-204px) ; opacity:0.043; }
8.6957% { transform:translate(-1px,-177px) ; opacity:0.087; }
13.0435% { transform:translate(-1px,-153px) ; opacity:0.13; }
17.3913% { transform:translate(-1px,-131px) ; opacity:0.174; }
21.7391% { transform:translate(0px,-112px) ; opacity:0.217; }
26.087% { transform:translate(0px,-94px) ; opacity:0.261; }
30.4348% { transform:translate(0px,-78px) ; opacity:0.304; }
34.7826% { transform:translate(0px,-65px) ; opacity:0.348; }
39.1304% { transform:translate(0px,-53px) ; opacity:0.391; }
43.4783% { transform:translate(0px,-42px) ; opacity:0.435; }
47.8261% { transform:translate(0px,-33px) ; opacity:0.478; }
52.1739% { transform:translate(0px,-25px) ; opacity:0.522; }
56.5217% { transform:translate(0px,-19px) ; opacity:0.565; }
60.8696% { transform:translate(0px,-14px) ; opacity:0.609; }
65.2174% { transform:translate(0px,-10px) ; opacity:0.652; }
69.5652% { transform:translate(0px,-7px) ; opacity:0.696; }
73.913% { transform:translate(0px,-4px) ; opacity:0.739; }
78.2609% { transform:translate(0px,-2px) ; opacity:0.783; }
82.6087% { transform:translate(0px,-1px) ; opacity:0.826; }
86.9565% { transform:translate(0px,-1px) ; opacity:0.87; }
91.3043% { transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { transform:translate(0px,0px) ; opacity:0.957; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-9 {
0% { -webkit-transform:translate(0px,0px) ; opacity:1; }
4.3478% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
8.6957% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
13.0435% { -webkit-transform:translate(0px,-1px) ; opacity:0.87; }
17.3913% { -webkit-transform:translate(0px,-1px) ; opacity:0.826; }
21.7391% { -webkit-transform:translate(0px,-2px) ; opacity:0.783; }
26.087% { -webkit-transform:translate(0px,-4px) ; opacity:0.739; }
30.4348% { -webkit-transform:translate(0px,-7px) ; opacity:0.696; }
34.7826% { -webkit-transform:translate(0px,-10px) ; opacity:0.652; }
39.1304% { -webkit-transform:translate(0px,-14px) ; opacity:0.609; }
43.4783% { -webkit-transform:translate(0px,-19px) ; opacity:0.565; }
47.8261% { -webkit-transform:translate(0px,-25px) ; opacity:0.522; }
52.1739% { -webkit-transform:translate(0px,-33px) ; opacity:0.478; }
56.5217% { -webkit-transform:translate(0px,-42px) ; opacity:0.435; }
60.8696% { -webkit-transform:translate(0px,-53px) ; opacity:0.391; }
65.2174% { -webkit-transform:translate(0px,-65px) ; opacity:0.348; }
69.5652% { -webkit-transform:translate(0px,-78px) ; opacity:0.304; }
73.913% { -webkit-transform:translate(0px,-94px) ; opacity:0.261; }
78.2609% { -webkit-transform:translate(0px,-112px) ; opacity:0.217; }
82.6087% { -webkit-transform:translate(-1px,-131px) ; opacity:0.174; }
86.9565% { -webkit-transform:translate(-1px,-153px) ; opacity:0.13; }
91.3043% { -webkit-transform:translate(-1px,-177px) ; opacity:0.087; }
95.6522% { -webkit-transform:translate(-1px,-204px) ; opacity:0.043; }
100% { -webkit-transform:translate(-1px,-233px) ; opacity:0; }
} 
@keyframes _idGenKeyFrames-9 {
0% { transform:translate(0px,0px) ; opacity:1; }
4.3478% { transform:translate(0px,0px) ; opacity:0.957; }
8.6957% { transform:translate(0px,0px) ; opacity:0.913; }
13.0435% { transform:translate(0px,-1px) ; opacity:0.87; }
17.3913% { transform:translate(0px,-1px) ; opacity:0.826; }
21.7391% { transform:translate(0px,-2px) ; opacity:0.783; }
26.087% { transform:translate(0px,-4px) ; opacity:0.739; }
30.4348% { transform:translate(0px,-7px) ; opacity:0.696; }
34.7826% { transform:translate(0px,-10px) ; opacity:0.652; }
39.1304% { transform:translate(0px,-14px) ; opacity:0.609; }
43.4783% { transform:translate(0px,-19px) ; opacity:0.565; }
47.8261% { transform:translate(0px,-25px) ; opacity:0.522; }
52.1739% { transform:translate(0px,-33px) ; opacity:0.478; }
56.5217% { transform:translate(0px,-42px) ; opacity:0.435; }
60.8696% { transform:translate(0px,-53px) ; opacity:0.391; }
65.2174% { transform:translate(0px,-65px) ; opacity:0.348; }
69.5652% { transform:translate(0px,-78px) ; opacity:0.304; }
73.913% { transform:translate(0px,-94px) ; opacity:0.261; }
78.2609% { transform:translate(0px,-112px) ; opacity:0.217; }
82.6087% { transform:translate(-1px,-131px) ; opacity:0.174; }
86.9565% { transform:translate(-1px,-153px) ; opacity:0.13; }
91.3043% { transform:translate(-1px,-177px) ; opacity:0.087; }
95.6522% { transform:translate(-1px,-204px) ; opacity:0.043; }
100% { transform:translate(-1px,-233px) ; opacity:0; }
} 
@-webkit-keyframes _idGenKeyFrames-10 {
0% { -webkit-transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { -webkit-transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-10 {
0% { transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { transform:translate(0px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-11 {
0% { -webkit-transform:translate(0px,0px) ; opacity:1; }
9.0909% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
18.1818% { -webkit-transform:translate(0px,-1px) ; opacity:0.818; }
27.2727% { -webkit-transform:translate(0px,-5px) ; opacity:0.727; }
36.3636% { -webkit-transform:translate(0px,-11px) ; opacity:0.636; }
45.4545% { -webkit-transform:translate(0px,-22px) ; opacity:0.545; }
54.5455% { -webkit-transform:translate(0px,-38px) ; opacity:0.455; }
63.6364% { -webkit-transform:translate(0px,-60px) ; opacity:0.364; }
72.7273% { -webkit-transform:translate(0px,-90px) ; opacity:0.273; }
81.8182% { -webkit-transform:translate(-1px,-128px) ; opacity:0.182; }
90.9091% { -webkit-transform:translate(-1px,-175px) ; opacity:0.091; }
100% { -webkit-transform:translate(-1px,-233px) ; opacity:0; }
} 
@keyframes _idGenKeyFrames-11 {
0% { transform:translate(0px,0px) ; opacity:1; }
9.0909% { transform:translate(0px,0px) ; opacity:0.909; }
18.1818% { transform:translate(0px,-1px) ; opacity:0.818; }
27.2727% { transform:translate(0px,-5px) ; opacity:0.727; }
36.3636% { transform:translate(0px,-11px) ; opacity:0.636; }
45.4545% { transform:translate(0px,-22px) ; opacity:0.545; }
54.5455% { transform:translate(0px,-38px) ; opacity:0.455; }
63.6364% { transform:translate(0px,-60px) ; opacity:0.364; }
72.7273% { transform:translate(0px,-90px) ; opacity:0.273; }
81.8182% { transform:translate(-1px,-128px) ; opacity:0.182; }
90.9091% { transform:translate(-1px,-175px) ; opacity:0.091; }
100% { transform:translate(-1px,-233px) ; opacity:0; }
} 
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
#_idContainer000, #_idContainer010 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:842.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:595.50px;
}
#_idContainer001 {
	-ms-transform:translate(-10.363px,-0.181px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-10.363px,-0.181px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:842.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-10.363px,-0.181px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-10.363px,-0.181px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:595.50px;
}
#_idContainer002 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:37.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:36.00px;
}
#_idContainer003 {
	-ms-transform:translate(284.637px,152.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(284.637px,152.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:37.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(284.637px,152.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(284.637px,152.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:36.00px;
}
#_idAudio000 {
	-ms-transform:translate(6.944%,0.000%) rotate(0.000deg) skew(0.000deg) scale(0.861,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(6.944%,0.000%) rotate(0.000deg) skew(0.000deg) scale(0.861,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	object-fit:fill;
	transform:translate(6.944%,0.000%) rotate(0.000deg) skew(0.000deg) scale(0.861,1.000);
	transform:translate(6.944%,0.000%) rotate(0.000deg) skew(0.000deg) scale(0.861,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
#_idContainer004 {
	-ms-transform:translate(4.422px,9.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4.422px,9.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:31.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	text-align:left;
	top:0px;
	transform:translate(4.422px,9.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(4.422px,9.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:36.00px;
}
#_idContainer005 {
	-ms-transform:translate(166.637px,677.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(166.637px,677.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(166.637px,677.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(166.637px,677.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:25.02px;
}
#_idContainer006 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:25.02px;
}
#_idContainer007 {
	-ms-transform:translate(257.637px,637.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(257.637px,637.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(257.637px,637.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(257.637px,637.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:25.02px;
}
#_idContainer008 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:184.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:544.43px;
}
#_idContainer009 {
	height:184px;
	left:36px;
	position:absolute;
	top:440px;
	width:544px;
}
#_idContainer011 {
	-ms-transform:translate(-0.225px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.225px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:842.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.225px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.225px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:595.50px;
}
#_idContainer012 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:53.36px;
}
#_idContainer013 {
	-ms-transform:translate(48.637px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(48.637px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(48.637px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(48.637px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:53.36px;
}
#_idContainer014, #_idContainer018 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:31.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:26.93px;
}
#_idContainer015 {
	-ms-transform:translate(198.068px,196.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(198.068px,196.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:31.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(198.068px,196.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(198.068px,196.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:26.93px;
}
#_idContainer016 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:145.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:550.43px;
}
#_idContainer017 {
	height:145px;
	left:22px;
	position:absolute;
	top:45px;
	width:550px;
}
#_idContainer019 {
	-ms-transform:translate(355.000px,277.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(355.000px,277.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:31.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(355.000px,277.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(355.000px,277.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:26.93px;
}
#_idContainer020 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:158.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:569.93px;
}
#_idContainer021 {
	height:159px;
	left:-2px;
	position:absolute;
	top:119px;
	width:570px;
}
#_idContainer022 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:27.80px;
}
#_idContainer023 {
	-ms-transform:translate(320.637px,397.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(320.637px,397.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(320.637px,397.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(320.637px,397.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:27.80px;
}
#_idContainer024 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:299.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:523.43px;
}
#_idContainer025 {
	height:300px;
	left:45px;
	position:absolute;
	top:98px;
	width:523px;
}
#_idContainer026 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:20.80px;
}
#_idContainer027 {
	-ms-transform:translate(537.637px,600.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(537.637px,600.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(537.637px,600.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(537.637px,600.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:20.80px;
}
#_idContainer028 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:126.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:512.19px;
}
#_idContainer029 {
	height:127px;
	left:56px;
	position:absolute;
	top:469px;
	width:512px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectAttribute-3 {
	height:31px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:36px;
}
div._idGenPlayAnimation-1 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-0;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-0;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-2 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-1;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-1;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-3 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-2;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-2;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-4 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-3;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-3;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-5 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-4;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-4;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-6 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-5;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-5;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-7 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.708s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-6;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.708s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-6;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-8 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.708s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-7;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.708s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-7;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-9 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-8;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-8;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-10 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-9;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-9;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-11 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-10;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-10;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-12 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-11;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-11;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-1 {
	-webkit-transform:translate(-1px,-233px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(-1px,-233px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-2 {
	-webkit-transform:translate(307px,0px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(307px,0px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-3 {
	-webkit-transform:translate(-307px,0px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(-307px,0px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationEnd-1 {
	-webkit-transform:translate(0px,0px) ;
	-webkit-transform-origin:50% 50%;
	opacity:1;
	transform:translate(0px,0px) ;
	transform-origin:50% 50%;
}
div._idGenButton div._idGen-Appearance-Normal {
	visibility:visible;
}
div._idGenButton div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton {
	cursor:pointer;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Rollover {
	visibility:visible;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Click {
	visibility:visible;
}
div._idGenStateHide div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenStateHide, div._idGenStateHide *{
	visibility:hidden;
}
